<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/head.ejs") %>
  <title><%=checklist.title%></title>
</head>

<body>
  <div class="container-fluid">
    <header>
      <%- include("../partials/nav.ejs") %>
      <h1><%=checklist.title%></h1>
    </header>
    <main>
      <div class="checklist-container">
        <% for( let i = 0; i < checklist.items.length; i++) { %>
        <div class="form-check">
          <div id="checklist-item-<%=i%>">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault<%=i%>">
            <label class="form-check-label<%=i%>" for="flexCheckDefault<%=i%>">
              <a href="#collapse" data-bs-toggle="collapse" role="button">
                <%=checklist.items[i]%>
              </a>
            </label>
            </input>
          </div>
          <div id="edit-checklist-item-<%=i%>" class="">
            <form action="/checklists/<%=checklist._id%>/<%=[i]%>?_method=PUT" method="POST">
              <input type="text" name="items[<%=i%>]" value="<%=checklist.items[i]%>">
              <input type="submit" value="Edit Item">
            </form>
          </div>

          <button id="edit-item-btn-<%=i%>">Rename</button>

          <div class="collapse show">

            <form action="/checklists/<%=checklist._id%>/<%=[i]%>?_method=DELETE" method="POST">
              <input type="submit" value="Delete Item">
            </form>
          </div>
        </div>
        <% } %>
      </div>
      <div class="checklist-add-item-container">
        <form action="/checklists/<%=checklist._id%>?_method=PUT" method="POST">
          <% for( let i = 0; i < checklist.items.length; i++) { %>
          <input type="hidden" name="items" value="<%=checklist.items[i]%>">
          <% } %>
          <label for="addChecklistItem">Add Item</label>
          <input type="text" name="items" id="addChecklistItem">
          <input type="submit" value="Add Item">
        </form>
      </div>
    </main>
    <div class="delete-checklist">
      <form action="/checklists/<%=checklist._id%>?_method=DELETE" method="POST">
          <input type="submit" value="Delete List" class="btn btn-danger">
        </form>
    </div>
  </div>
  <script>
    const testing = () => {
      console.log(`works?`)
      let length = checklist.items.length
    }
    $(() => {

      $("#edit-item-btn-1").on("click", testing())

    })
  </script>
</body>

</html>