<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <%- include("../partials/head.ejs") %>
</head>
<body>
    <div class="container">
        <h1>Task Tracker</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/tasks/new">Create a new Task</a>
                </li>
            </ul>
        </nav>
        <main>
            <h2>Tasks</h2>
            <ul>
                <% for(let i = 0; i < tasks.length; i++) { %>
                    <li>
                        <%=tasks[i].name%>
                    </li>
                <% } %>
            </ul>
            <div class="table-container">
                <table class="u-full-width" id="task-table">
                    <thead>
                        <tr>
                            <th class="task-table-heads" id="task-table-name">Name</th>
                            <th class="task-table-heads">Date</th>
                            <th class="task-table-heads">Details</th>
                            <th class="task-table-heads">Category</th>
                            <th class="task-table-heads">Tags</th>
                            <th class="task-table-heads">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i = 0; i < tasks.length; i++) { %>
                            <tr>
                                <td><%=tasks[i].name%></td>
                                <td><%=tasks[i].date%></td>
                                <td><%=tasks[i].details%></td>
                                <td><%=tasks[i].category%></td>
                                <td><%=tasks[i].tags%></td>
                                <td><a href="/tasks/<%=tasks[i]._id%>"><button>Edit</button></a></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
<script>
    
    $( () => {
        $("#task-table").DataTable()

    })
</script>
</body>
</html>